# Built application files
*.apk
*.ap_
*.class
*.dex
*.pro
*.o
*.so
*.log

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio
*.iml
.idea/workspace.xml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml
.idea/codeStyles/
.idea/scopes/
.idea/dictionaries/
.idea/gradle.xml

# Keystore files
*.jks

# User-specific .gitignore
.gitignore_global
